

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247 247 247);

    >a{

        padding: 1rem ;
        color: black;
        font-size: 18px;
        font-weight: 500;
    }

}

