

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;

    >a{

        padding: 1rem ;
        color: black;
        font-size: 18px;
        font-weight: 500;

        >.cartlengthcolors{
color: red;
        }
    }

}

